/* Thank you Main Div ELements Css */

.thankyou-Main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
  text-align: center;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.phone {
  width: 100px;
}

.logo {
  margin: 40px 0 40px 0;
}
/* MEdia Query */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .logo {
    width: 56%;
    margin: 20px 0 20px 0;
  }
}
